.container {
    width: min(94%, 90rem);
    align-self: center;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
